* {
    box-sizing: border-box;
}

h1, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(221, 221, 221);
}

section {
    width: 400px;
    margin: 100px auto 290px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(200, 200, 200);
}

header {
    border-radius: 30px 30px 0 0;
    background-color: white;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    border-bottom: 4px solid rgb(220, 220, 220);
}

h1 {
    color: rgb(253, 20, 144);
    border-left: 10px solid;
    padding-left: 20px;
}

ul {
    background-color: rgb(238, 238, 238);
    padding: 30px;
    border-radius: 0 0 30px 30px;
}

li {
    list-style-type: none;
    background-color: white;
    padding: 10px 15px;
    border: 4px solid rgb(169, 169, 169);
    border-radius: 5px;
}

li:not(:last-child) {
    margin-bottom: 10px;
}
