* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 10px;
    background-image: url(images/bg.png);
    padding: 100px 0;
    min-height: 100vh;
}

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip; rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
} 

div.animalinfo {
    width: 200px;
    background-color: rgb(147, 87, 49);
    margin: auto;
}
